.content-app {
    border: solid 1px #a8a8a8;
}

.title {
    margin-bottom: 2%;
}

.field-name label {
    font-weight: bold;
}

.product-pic img{
    height: 40%;
    width: 40%;
    opacity: 0.1;
    margin: 5%;
    border: solid 1px #080808;
    cursor: pointer;
}

.product-pic span {
    position: absolute;
    margin-top: -15%;
    margin-left: 15%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #a8a8a8;
    cursor: pointer;
}

.section {
    margin: 10%;
    width: 100%;
}

.bottom-margin {
    margin: 2%;
    height: 20%;
    width: 100%;
}